@model ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <meta name="theme-color" content="#ffffff">

    <link href="~/css/main.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @RenderSection("header", required: false)
    <environment names="Development">
        <!-- Latest compiled and minified CSS -->

    </environment>
    <!--
        change env variable,
        on linux: export ASPNETCORE_ENVIRONMENT=development
        on windows: setx ASPNETCORE_ENVIRONMENT "Development"
     -->
    <environment names="Production,Staging">

    </environment>
</head>
<body class="@Model.BodyClass">
    @if (Model.Errors.Any())
    {
        <div>
            @foreach (var error in Model.Errors)
            {
                <div>@error</div>
            }
        </div>
    }

    <nav role="main" class="container-fluid ra-bg-light">
        <div class="container">
            <header class="row">
                <div class="col">
                    <nav class="navbar navbar-light ra-navbar justify-content-between">
                        <a class="navbar-brand d-flex" href="/">
                            <img src="~/images/6235-Ripple-Act-Logo.png" />
                        </a>
                        <div class="d-flex justify-content-between ra-menu-wrapper">
                            <ul class="navbar-nav flex-row ra-nav-menu">
                                <li class="nav-item active mr-3">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item mr-3">
                                    <a class="nav-link" href="~/page/about">About</a>
                                </li>
                            </ul>
                            @(await Component.InvokeAsync<AccountViewComponent>())
                        </div>
                    </nav>
                </div>
            </header>
        </div>
    </nav>
    @*<section class="ra-banner">
        <h2>
            Ensign Babyface! <br />
            Fate protects fools, little children and ships named Enterprise. Well, I'll say this for him - he's sure of himself. and attack the Romulans.
        </h2>
    </section>*@
    <main role="main" class="container-fluid">
        @RenderBody()
    </main>
    <footer role="main" class="container-fluid">
        <div id="colophon" class="wrapper clearfix">
            Copyright RippleAct © @DateTime.Now.Year. All rights reserved
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.8/dist/umd/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
