@model ViewModelBase

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/css/main.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @RenderSection("header", required: false)
    <environment names="Development">
        <!-- Latest compiled and minified CSS -->

    </environment>
    <!--
        change env variable,
        on linux: export ASPNETCORE_ENVIRONMENT=development
        on windows: setx ASPNETCORE_ENVIRONMENT "Development"
     -->
    <environment names="Production,Staging">

    </environment>
</head>
<body class="@Model.BodyClass">
    <div class="container-fluid ra-bg-light">
        <header class="row">
            <div class="col">
                <nav class="navbar navbar-light ra-navbar">
                    <a class="navbar-brand text-white" href="/">Ripple | act</a>
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item active mr-3">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Log in</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Sign up</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
    <div class="container-fluid">
        @if (Model.Errors.Any())
        {
            <div>
                @foreach (var error in Model.Errors)
                {
                    <div>@error</div>
                }
            </div>
        }
        <div class="container">
            <section class="row">
                <main class="col-8">
                    @RenderBody()
                </main>
                <aside role="main" class="col-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form class="form-inline">
                                <div class="input-group">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    <button class="input-group-addon" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <section class="mb-3">
                                <h5 class="mb-3">News</h5>
                                <ul>
                                    <li>One</li>
                                    <li>Two</li>
                                    <li>Three</li>
                                </ul>
                            </section>
                            <hr/>
                            <section class="mb-3 tags-widget">
                                <h5 class="mb-3">Tags</h5>
                                <ul class="tags-widget">
                                    <li><a class="btn btn-outline-info" href="#">One</a></li>
                                    <li><a class="btn btn-outline-info" href="#">Two</a></li>
                                    <li><a class="btn btn-outline-info" href="#">Three or Four</a></li>
                                    <li><a class="btn btn-outline-info" href="#">Ten</a></li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </aside>
            </section>
        </div>
    </div>
    <div class="container-fluid">
        <footer>
            <div id="colophon" class="wrapper clearfix">
                ©2017 RippleAct
            </div>
        </footer>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.8/dist/umd/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
