@model ViewModelBase
<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
    @RenderSection("header", required: false)
    <environment names="Development">
         <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <!-- 
        change env variable, 
        on linux: export ASPNETCORE_ENVIRONMENT=development
        on windows: setx ASPNETCORE_ENVIRONMENT "Development"
     -->
    <environment names="Production,Staging">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>
<body>
    @Html.Partial("Navigation")
    <main>
        <div class="container">
            <div asp-validation-summary="All"></div>
            @(await Component.InvokeAsync<AccountViewComponent>())
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="container">
            <span>© @DateTime.Now.Year BKind</span>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </environment>
    <script src="~/js/site.js"></script>
</body>
</html>