@using BKind.Web.Features.News.Models
@model BKind.Web.Features.News.Models.NewsModel

<h2>@Model.News.Title</h2>

<div>
    @Html.Raw(Model.News.Content)
</div>

@if (!string.IsNullOrEmpty(Model.News.Link))
{
    <div>
        <a href="@Model.News.Link" target="_blank">@Model.News.Link</a>
    </div>
}

<br /><br />
@if (Model.CanEdit)
{
    <a class="btn btn-primary" asp-area="Editor" asp-controller="News" asp-action="Edit" asp-route-id="@Model.News.Id">Edit</a>
    <a class="btn btn-danger" onclick="javascript:return confirm('Are you sure?')" asp-area="Editor" asp-controller="News" asp-action="Delete" asp-route-id="@Model.News.Id">Delete</a><br />
}
