@model BKind.Web.Features.Stories.Contracts.ReadStoryViewModel
    
<h2>@Model.Story.Title</h2>
<div>
    @Model.Story.Content
</div>
<div>
    Tags: @string.Join(", ", Model.Story.Tags)
</div>
<div>
    Author: @Model.Story.AuthorName
</div>
<div>
    Votes: @Model.Story.ThumbsUp
</div>
`<div>
    @await Component.InvokeAsync("StoryButtons", new { story = Model.Story, userWithRoles = Model.LoggedUser })
</div>

